@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Typography - Scales based on viewport */
    --font-main: "Cardo", serif;
    --h1-size: 2.5rem;
    --h2-size: 1.8rem;
    --p-size: 1rem;
    
    /*Main Colors*/
    --shadow-grey:#201B1C;
    --prussian-blue:#14213D;
    --orange:#FCA311;
    --alabaster-grey:#E5E5E5;
    --burgundy:#7B0D1E;
}

body {
    display:grid;
    grid-template-rows:auto 1fr 1fr  auto;
    font-family: var(--font-main);
    line-height: 1.6;
    max-width:1200px;
    margin:0 auto;
    min-height: 100vh;
    background-color:var(--alabaster-grey);
    color:var(--shadow-grey);
}

.header {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding:20px 0;
}

.orange_text {
    color:var(--orange);
}

.header ul li {
    margin:0 20px;
}

.header ul li a {
    text-decoration:none;
    color:var(--shadow-grey);
}

.header ul li a:hover {
    color:var(--orange);
}


section {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:100vh;
}

section h2 {
    font-size:5rem;
    margin:0;
}

p {
    max-width:65ch;
    font-size:3rem;
}

ul {
    list-style:none;
    display:flex;
    justify-content:center;
}

.experience ul li img {
    width:250px;
    margin:0 25px;
}


.connect ul {
    display:flex;
}

.connect ul li {
    margin:0 25px;
    font-size:2rem;
}

.connect ul li a {
    text-decoration:none;
    color:var(--prussian-blue);
}

/* Hidden */
section p,
section ul {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
  color:var(--burgundy);
}

/* Reveal when hovering over the section */
section:hover p,
section:hover ul {
  opacity: 1;
  pointer-events: auto;
}
